{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <nav class="bar">
        <!-- login -->
        <div class="c">

        </div>
        <h1 class="til">RETAILO</h1>
        <ul class="det">
            <li class="b"><a href="{% url 'authentication:signup' %}">Sign Up</a></li>
            <li class="b"><a href="">About Us</a></li>
        </ul>
    </nav>
    <!-- login page button -->
    <div class="con">
        <h1 class="main">EMPLOYEE LOGIN</h1>
        <div class="login">
            <a href="{% url 'authentication:login' %}">EMPLOYEE LOGIN</a>

        </div>
        <div class="user">
            <a href="{% url 'authentication:userpage' %}">USER LOGIN</a>
        </div>

    </div>

</body>

</html>