{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'emp.css' %}">
</head>

<body>
  
    <h1 class="tit">USER SIGN UP</h1>
    
    <div class="box">
        <div class="first">
            <form action="" method="POST">
                {% csrf_token %}
                
                {% if rmsform %}
                    {{ rmsform.as_p }}
                {% else %}
                    {{ form.as_p }}
                {% endif %}
                
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

</body>
</html>
